@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @apply font-normal text-[--roboto];
}

h1 {
  @apply text-5xl leading-[56px] tracking-[-1];
}
h2 {
  @apply text-[40px] leading-[48px] tracking-[-1];
}
h3 {
  @apply text-[32px] leading-[40px] tracking-[0];
}
h4 {
  @apply text-2xl leading-[40px] tracking-[0];
}
h5 {
  @apply text-xl leading-[40px] tracking-[0];
}

p {
  @apply text-[16px] leading-6;
}

.label {
  @apply text-[14px] leading-4;
}

.small-label {
  @apply text-xs;
}
